@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .container{
    @apply max-w-container mx-auto px-2.5 md:px-4 lg:px-5 ;
  }
}

a{
  text-decoration: none;
  display: inline-block;
}

ul, ol{
  list-style: none;
  display: inline-block;
}